@use "../../assets/variables/index.scss" as *;

@media (max-width: $e-lg) {
    .body {
        &__joke {
            &-content {
                padding: $paddingX;
            }
        }
    }
}

@media (max-width: $sm) {
    .body {
        &__joke {
            &-header {
                &__title {
                    padding: 0 1.8em;
                    font-size: 1.8em;
                }

                &__des {
                    font-size: 1.2em;
                    padding: 0 1em;
                }
            }

            &-content {
                &__divider {
                    display: none;
                }
            }

            &-message {
                padding: 0 2em;
            }
        }
    }
}
