@use "../../assets/variables/index.scss" as *;

@media (max-width: $e-lg) {
    .footer {
        &__des {
            padding: $paddingX;
        }
    }
}

@media (max-width: $sm) {
    .footer {
        &__wrapper {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &__copyright {
            margin-top: 10px;
        }

        &__divider {
            margin-top: 6px;
            display: block;
        }
    }
}
